
/* common css { */
html, body, ul, ol, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, table, th, td, form, input, textarea, button {margin: 0;padding: 0; }
h1, h2, h3, h4, h5, h6 {font-weight: normal; }
ul, ol, dl {list-style-type: none; }
html {height: 100%;-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
input, textarea, button {outline: none;border: 0; }
table {border-collapse: collapse;table-layout: fixed;empty-cells: show; }
img, input, button, select {vertical-align: middle; }
a {text-decoration: none; }
* {-moz-box-sizing: border-box;/*Firefox3.5+*/-webkit-box-sizing: border-box;/*Safari3.2+*/-o-box-sizing: border-box;/*Opera9.6*/-ms-box-sizing: border-box;/*IE8*/box-sizing: border-box;/*W3C(IE9+，*/ }
body {font-family: "SimHei","黑体","Microsoft Yahei","Segoe UI",Arial,Helvetica,sans-serif; }
select, textarea, input, button, pre {font-family: "Microsoft Yahei","Segoe UI",Arial,Helvetica,sans-serif;font-size: .24rem; }
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;font-size: 0; }
* html .clearfix {height: 1%; }
.fl {float: left; }
.fr {float: right; }
/*} common css */
body{
	background: #ddf4ff;
}
.container{
	
}

/* 首页 */
.index-banner{
	width: 100%;
}

.block{
	border-bottom: 1px dashed #9cb0bc;
	font-size: 0;
}

.tag1{
	float: left;
	margin: .65rem 0 .45rem;
	padding: 0 .3rem 0 .4rem; 
	line-height: .7rem;
	font-size: .42rem;
	color: #fff;
	background: #0091de;
	border-radius: 0 .35rem .35rem 0;
}

.line1{
	width: 5rem;
	height: 1px;
	margin: 0 auto;
	background: #496271;
}

.index-leader{
	padding: .5rem .6rem;
	font-size: 0;
}

.index-leader-avatar{
	width: 2.7rem;
	height: 2.7rem;
	vertical-align: top;
}

.index-leader-text{
	display: inline-block;
	width: 3.3rem;
	vertical-align: top;
}

.index-leader-text h2{
	margin-top: .32rem;
	margin-bottom: .25rem;
	font-size: .4rem;
	color: #41537c;
}

.tag-sm{
	padding: 0 .18rem;
	font-size: .18rem;
	line-height: .28rem;
	background: #6761a6;
	color: #fff;
	border-radius: .14rem;
}

.index-leader-cont{
	margin-top: .2rem;
	width: 100%;
	font-size: .2rem;
	color: #41537c;
	line-height: 1.8;
}

.index-yz{
	padding: .75rem .38rem .6rem;
}

.index-yz-hd{
	font-size: .4rem;
	text-align: center;
	color: #615aa5;
}

.index-yz-img{
	display: block;
	width: 100%;
	margin-top: .3rem;
	border: 1px solid #ff;
}

.index-nw{
	padding: .6rem;
}

.index-hd-ce{
	font-size: .38rem;
	color: #425d7b;
}

.index-yuanj{
	padding: 0 .6rem;
}