
/* common css { */
html, body, ul, ol, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, table, th, td, form, input, textarea, button {margin: 0;padding: 0; }
h1, h2, h3, h4, h5, h6 {font-weight: normal; }
ul, ol, dl {list-style-type: none; }
html {height: 100%;-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
input, textarea, button {outline: none;border: 0; }
table {border-collapse: collapse;table-layout: fixed;empty-cells: show; }
img, input, button, select {vertical-align: middle; }
a {text-decoration: none; }
* {-moz-box-sizing: border-box;/*Firefox3.5+*/-webkit-box-sizing: border-box;/*Safari3.2+*/-o-box-sizing: border-box;/*Opera9.6*/-ms-box-sizing: border-box;/*IE8*/box-sizing: border-box;/*W3C(IE9+，*/ }
body {font-family: "SimHei","黑体","Microsoft Yahei","Segoe UI",Arial,Helvetica,sans-serif; }
select, textarea, input, button, pre {font-family: "Microsoft Yahei","Segoe UI",Arial,Helvetica,sans-serif;font-size: .24rem; }
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;font-size: 0; }
* html .clearfix {height: 1%; }
.fl {float: left; }
.fr {float: right; }
/*} common css */
body{
	background: #ddf4ff;
}
.container{
	
}

.index-bg{
	background: url(../images/idx-bg.png);
	background-size: 100%;
}
/* 首页 */
.index-banner{
	width: 100%;
}

.index-banner img{
	width: 100%;
}

.block{
	border-bottom: 	px dashed #9cb0bc;
	font-size: 0;
}

.tag1{
	float: left;
	margin: .65rem 0 .45rem;
	padding: 0 .3rem 0 .4rem; 
	line-height: .7rem;
	font-size: .42rem;
	color: #fff;
	background: #0091de;
	border-radius: 0 .35rem .35rem 0;
}

.line1{
	width: 5rem;
	height: 1px;
	margin: 0 auto;
	background: #496271;
}

.index-leader{
	padding: .5rem .6rem;
	font-size: 0;
}

.index-leader-avatar{
	width: 2.7rem;
	height: 2.7rem;
	vertical-align: top;
}

.index-leader-text{
	display: inline-block;
	width: 3.3rem;
	vertical-align: top;
}

.index-leader-text h2{
	margin-top: .32rem;
	margin-bottom: .25rem;
	font-size: .4rem;
	color: #41537c;
}

.tag-sm{
	padding: 0 .18rem;
	font-size: .18rem;
	line-height: .28rem;
	background: #6761a6;
	color: #fff;
	border-radius: .14rem;
}

.index-leader-cont{
	margin-top: .2rem;
	width: 100%;
	font-size: .2rem;
	color: #41537c;
	line-height: 1.8;
}

.index-yz{
	padding: .75rem .38rem .6rem;
}

.index-yz-hd{
	font-size: .4rem;
	text-align: center;
	color: #615aa5;
}

.index-yz-img{
	display: block;
	width: 100%;
	margin-top: .3rem;
	border: 1px solid #ff;
}

.index-nw{
	padding: .6rem;
}

.index-hd-ce{
	font-size: .38rem;
	color: #425d7b;
}

.index-yuanj{
	padding: 0 .6rem;
}

.index-yuanj-bl{
	padding-bottom: .5rem;
}

.index-yuanj-bl h2{
	margin-bottom: .1rem;
}

.index-yuanj p{
	font-size: .26rem;
	color: #008fd7;
	line-height: .4rem;
}

.img-idx11{
	display: block;
	width: 4.5rem;
	margin: .6rem auto 0;
}

.img-idx12{
	display: block;
	width: 4rem;
	margin: .6rem auto 0;
}

.img-idx13{
	display: block;
	width: 6rem;
	margin: .6rem auto 0;
}

.footer{
	padding: .3rem;
}

.footer img{
	width: 100%;
}

.add-p{
	padding-left: .4rem;
	background: url(../images/dian1.png) no-repeat left .02rem;
	background-size: auto .35rem;
}

/* history1 样式*/
.history1-bg{background-image: url("../images/h1-bg.png");-webkit-background-size: 100%;background-size: 100%;}
.history-tit1{padding: .7rem 0 .24rem; font-size: .5rem;color: #008fd7;text-align: center;}
.history-tit2{padding-bottom: .65rem; font-size: .3rem;color: #008fd7;text-align: center;}
.history-box{padding: .6rem .44rem; border-top: 1px solid #c9dae3;}
.h1-box{position: relative;width: 100%;font-size: 0; background: url("../images/h1-box1.png") no-repeat;-webkit-background-size: 100%;background-size: 100%;}
.h1-left{display: table-cell;padding:.42rem .42rem .24rem .3rem; vertical-align: middle;}
.h1-time{width: 2rem;height: .55rem;margin-bottom: .2rem; line-height: .55rem;font-weight: bold; font-size: .28rem;color: #6660a8;text-align: center; background-color: #fff;border-radius: .5rem;}
.h1-pic{position: relative; width: 1.81rem;height: 1.14rem;margin:0 auto; background:url("../images/h1-pic1.png") no-repeat;-webkit-background-size: 100%;background-size: 100%;}
.btn-style{position: absolute;bottom: .08rem;right:.08rem; width: .8rem;height: .3rem;line-height: .3rem; background-color:#6660a8;font-size: .18rem;color:#fff;border-radius: .05rem;}
.h1-right{ display: table-cell;vertical-align: middle;border-left: 1px solid rgba(255,255,255,.2)}
.h1-info{position: relative; padding:0 .3rem 0 .35rem; line-height: .36rem; font-size: .24rem;color: #fff;}
.h1-info:before{position: absolute;left: -3px;top: .12rem; display: inline-block; content: '';width: 6px;height: 6px;border-radius: 50%;background-color: #fff;}

.h1-box.box2{padding-top: .57rem; background-image: url("../images/h1-box2.png");}
.h1-box.box2 .h1-time{color: #ae6765;}
.h1-box.box2 .h1-left{padding-top: .35rem;}
.h1-box.box2 .h1-pic{height: 1rem; background-image: url("../images/h1-pic2.png");}
.h1-box.box2 .btn-style{background-color: #ae6765;}

.h1-box.box3{padding-top: .59rem; background-image: url("../images/h1-box3.png");}
.h1-box.box3 .h1-time{color: #33a5df;}
.h1-box.box3 .h1-left{padding-top: .44rem;}
.h1-box.box3 .h1-pic{height: 1.04rem; background-image: url("../images/h1-pic3.png");}
.h1-box.box3 .btn-style{background-color: #33a5df;}

.h1-box.box4{padding-top: .53rem; background-image: url("../images/h1-box4.png");}
.h1-box.box4 .h1-time{color: #667597;}
.h1-box.box4 .h1-left{padding-bottom: .15rem;}
.h1-box.box4 .h1-pic{height: 1rem; background-image: url("../images/h1-pic4.png");}
.h1-box.box4 .btn-style{background-color: #667597;}

.h1-footer{width: 100%;height: .75rem;line-height: .75rem;text-align: center; font-size: .3rem;color: #fff;background-color: #008fd7;}
.tip-text{position: absolute;right: .63rem;bottom: .28rem; font-size: .24rem;color: #fff;}
.pic5{height: 1rem; background-image: url("../images/h2-pic1.png");}
.pic6{background-image: url("../images/h2-pic2.png");}

/* 历史详情 */
.time-bg{padding: .52rem .37rem; background: url("../images/2015.05-01.png");}
.title{width: 100%;height: 1.65rem;padding-top: .36rem; background-color: #008fd7;}
.big-tit{padding-bottom: .25rem; font-size: .5rem;color: #fff;text-align: center;}
.mid-tit{font-size: .3rem;color: #fff;text-align: center;}
.time-tit1{padding-bottom: .3rem; font-size: .38rem;color: #008fd7;text-align: center;}

.time-img{width: 100%;margin-bottom: .3rem;}
.img-style{width: 100%;}
.time-info{margin-top: -.4rem;margin-bottom: .4rem;text-align: center; font-size: .25rem;color: #fff;}
.time-center-text{margin-top: .8rem;margin-bottom: .5rem;text-align: center;}
.time-center-text h1{font-size: .55rem;color: #485a82;font-weight: bold;}
.time-center-text h2{margin-top: .1rem;font-size: .38rem;color: #485a82}
.time-center-text h3{margin-top: .15rem;font-size: .35rem;color: #008fd7}
